* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(31, 31, 31);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 0.5s ease-in;
}

#container2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 0.5s ease-in;
}

#container-1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container-1 input {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 9rem;
  padding-left: 0.3rem;
  outline: none;
  font-size: 2rem;
}

.input-box {
  display: flex;
  margin-bottom: 2rem;
}

.animals-entries li {
  font-size: 1.8rem;
}
.btn-3 {
  padding: 0.3rem 1rem;
  margin-left: 10px;
  font-size: 2rem;
}

.black {
  background-color: white;
}
.white {
  background-color: black;
}

.todo-list {
  color: white;
}
.todo-list h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.delete img {
  width: 25px;
}

h2 {
  font-size: 2rem;
}

#card {
  padding: 8rem;
  cursor: pointer;
  user-select: none;
  transition: background 0.5s ease-in;
}

.title {
  font-size: 6rem;
}

.day {
  background-color: rgb(255, 229, 79);
  color: black;
  box-shadow: rgb(255, 166, 0) 0px 29px 110px 4px,
    rgb(251, 255, 0) 0px 29px 110px 3px;
}

.night {
  background-color: rgb(0 0 0);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 29px 110px 4px,
    rgba(255, 255, 255, 1) 0px 10px 110px 3px;
}

.todo-form {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.input-form {
  padding: 0.5rem 1rem;
  padding-right: 10rem;
  outline: none;
  font-size: 2rem;
  width: 70%;
}

.btn {
  padding: 0.6rem 2rem;
  font-size: 1.9rem;
  margin-left: 1rem;
  cursor: pointer;
  width: 27%;
}

.entry {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.delete {
  font-size: 1.4rem;
  padding: 0rem 0.8rem;
  cursor: pointer;
}

.checkbox {
  height: 20px;
  width: 20px;
}

.line-through {
  text-decoration: line-through;
  text-decoration-color: white;
}

@media (max-width: 761px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 431px) {
  html {
    font-size: 6px;
  }
  .todo-list {
    margin: 0rem 2rem;
  }

  .delete img {
    width: 15px;
  }
  .checkbox {
    height: 14px;
    width: 14px;
  }
  .entry {
    margin-bottom: 10px;
  }
}
